{% if latest_question_list %}
    <ul>
    {% for question in latest_question_list %}
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
{# 使用url内配置的name来对应路由,这样修改url不用改模板文件 #}
{# 使用app命名空间区分不同app的同名url #}
    {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}


{#虽然我们现在可以将模板文件直接放在 polls/templates 文件夹中#}
{#（而不是再建立一个 polls 子文件夹），但是这样做不太好。Django #}
{#将会选择第一个匹配的模板文件，如果你有一个模板文件正好和另一个应用中的某个模板文件重名，#}
{#Django 没有办法 区分 它们。我们需要帮助 Django 选择正确的模板，#}
{#最简单的方法就是把他们放入各自的 命名空间 中，也就是把这些模板放入一个和 #}
{#自身 应用重名的子文件夹里。#}


{#你项目的 TEMPLATES 配置项描述了 Django 如何载入和渲染模板。#}
{#默认的设置文件设置了 DjangoTemplates 后端，并将 APP_DIRS 设置成了 True。#}
{#这一选项将会让 DjangoTemplates 在每个 INSTALLED_APPS 文件夹中寻找 "templates" 子目录#}