
body {
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  /*font-family: 'Nunito Sans', sans-serif;*/
  line-height: 1.5;
  background: #f4f5f5;
}

.tyq-nav{
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.navbar-brand,.nav-link{
  color: black !important;
}


.tyq-ul {
    list-style: none !important;
    margin: 0;
    padding: 0;
    font-size: 14px;
}

.tyq-ul a {
    color: #333333;
    margin-right: 5px;
    transition: all 0.5s;
    text-decoration: none !important;
    outline: none !important;
}

.tyq-ul a:hover {
    color: #0db3e3;
}