
body {
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  /*font-family: 'Nunito Sans', sans-serif;*/
  line-height: 1.5;
  background: #f4f5f5;
}

.tyq-nav{
      box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, .05);
}

.navbar-brand,.nav-link{
  color: black !important;
}
