{% extends '_base.html' %}
{% load static %}

{% block head %}
       <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>

{% endblock %}




{% block content %}

<div class="row">
<div class="col-9"></div>
<div class="col-3">
    <div class="tyq-title my-4">分类</div>
    <ul class="tyq-ul">
        <li><a href="#">Journey</a> (40)</li>
        <li><a href="#">Photography</a> (08)</li>
        <li><a href="#">Lifestyle</a> (11)</li>
        <li><a href="#">Food &amp; Drinks</a> (21)</li>
    </ul>

    <div class="tyq-title">归档</div>
    <ul class="tyq-ul">
        <li><a href="#">Journey</a> (40)</li>
        <li><a href="#">Photography</a> (08)</li>
        <li><a href="#">Lifestyle</a> (11)</li>
        <li><a href="#">Food &amp; Drinks</a> (21)</li>
    </ul>

    <div class="tyq-title">标签</div>
    <div class="tyq-tag">
        <a href="#">logo</a>
        <a href="#">business</a>
        <a href="#">corporate</a>
        <a href="#">e-commerce</a>
        <a href="#">agency</a>
        <a href="#">responsive</a>
    </div>
</div>
</div>



{% endblock %}