{% extends '_base.html' %}
{% load static %}

{% block titile %}拾忆{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>

{% endblock %}




{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 tyq-box">
                <div class="container">
                 <div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-meta">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; {{ post.pub_time|date:'Y-m-d H:m:s'}}&nbsp;&nbsp;
                        <i class="fa fa-list-alt"></i>&nbsp;<a class="post-category post-category-pure" href="{% url 'category_menu' id=post.category_id %}" style="text-decoration: none">{{ post.category }}</a>&nbsp;&nbsp;
                        <i class="fa fa-tags" aria-hidden="true"></i>
                          {% for tag in tags %}
                            <a class="post-category post-category-pure" href="{% url 'search_tag' tag=tag %}" style="text-decoration: none">{{ tag }}</a>
                          {% endfor %}&nbsp;&nbsp;
                        <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{ post.views }}次浏览
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.content |safe}}
                    </p>
                </div>
        </section>
</div><!-- /.blog-post -->
     <!-- 上下篇文章切换 开始-->
    <div>
        {% if prev_post %}
            <a class="footer" href="{% url 'detail' id=prev_post.id %}" style="text-decoration: none; float: left;">
                <i class="fa fa-angle-left"></i>&nbsp;&nbsp;上一篇：{{ prev_post.title }}
            </a>
        {% endif %}
        {% if next_post %}
            <a class="footer" href="{% url 'detail' id=next_post.id %}" style="text-decoration: none; float: right;">
                下一篇：{{ next_post.title }}&nbsp;&nbsp;
                <i class="fa fa-angle-right"></i>
            </a>
        {% endif %}
    </div>
    <!-- 上下篇文章切换 结束--> </div>

            </div>
            <div class="col-md-3">
                <div class="tyq-box">
                    <div class="tyq-title ">分类</div>
                    <ul class="tyq-ul">
                        {% for category in category_list %}
                            <li><a href ="{% url 'category_menu' category.id%}">{{ category }}</a> ({{ category.article_set.all.count }})</li>
                        {% endfor %}
                    </ul>
                </div>
                  <div class="tyq-box  mt-3">
                    <div class="tyq-title">标签</div>
                    <div class="tyq-tag">
                        {% for  tag in tag_list  %}
                 <a href="{% url 'search_tag' tag %}">{{ tag }}</a>

                                {% endfor %}
                    </div>
                </div>
                <div class="tyq-box mt-3">
                    <div class="tyq-title">热门阅读</div>
                    <ul class="tyq-ul">
                              {#                           {% for m,v in months.items %}#}
{#                        <li>#}
{#                            <a href="{% url 'archives' year=m.year month=m.month %}"#}
{#                               style="text-decoration: none">{{ m | date:'Y年m月' }}</a>({{ v }})#}
{#                        </li>#}
                               {% for article in hot_articles %}
                        <li>
                            <a href="{% url 'detail' id=article.id %}"
                               style="text-decoration: none">{{article.title }}</a>({{ article.views }})
                        </li>
                                   <br>
                    {% empty %}
                        暂无热门阅读！
                    {% endfor %}

                    </ul>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
