{% extends '_base.html' %}
{% load static %}

{% block titile %}拾忆{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>

{% endblock %}




{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 tyq-box">
                <div class="container">
                 <div class="posts">
        <section class="post">
            <header class="post-header">
                <h2 class="post-title">{{ post.title }}</h2>
                    <p class="post-meta">
                        <i class="fa fa-clock-o" aria-hidden="true"></i>&nbsp; {{ post.pub_time|date:'Y-m-d H:m:s'}}&nbsp;&nbsp;
                        <i class="fa fa-list-alt"></i>&nbsp;<a class="post-category post-category-pure" href="{% url 'category_menu' id=post.category_id %}" style="text-decoration: none">{{ post.category }}</a>&nbsp;&nbsp;
                        <i class="fa fa-tags" aria-hidden="true"></i>
                          {% for tag in tags %}
                            <a class="post-category post-category-pure" href="{% url 'search_tag' tag=tag %}" style="text-decoration: none">{{ tag }}</a>
                          {% endfor %}&nbsp;&nbsp;
                        <i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{ post.views }}次浏览
                    </p>
            </header>

                <div class="post-description">
                    <p>
                        {{ post.content |safe}}
                    </p>
                </div>
        </section>
</div><!-- /.blog-post -->
     <!-- 上下篇文章切换 开始-->
    <div style="overflow: hidden">
        {% if prev_post %}
            <a class="footer" href="{% url 'detail' id=prev_post.id %}" style="text-decoration: none; float: left;">
                <i class="fa fa-angle-left"></i>&nbsp;&nbsp;上一篇：{{ prev_post.title }}
            </a>
        {% endif %}
        {% if next_post %}
            <a class="footer" href="{% url 'detail' id=next_post.id %}" style="text-decoration: none; float: right;">
                下一篇：{{ next_post.title }}&nbsp;&nbsp;
                <i class="fa fa-angle-right"></i>
            </a>
        {% endif %}
    </div>
    <!-- 上下篇文章切换 结束-->
                    <br>
                    <hr>
<div class="container">

 {% for comment in post.comments.all %}
                    <div class="mt-2" >
                        <div class="media mb-3">
                            <div class="mr-3">
                                <img class="img-fluid u-avatar rounded-circle"
                                     src="/static/image/avatar.png" alt="Image Description" style="width: 60%">
                            <h4 class=" mt-1 mb-1 ml-3">
                                    <a class="d-block h6 mb-0" href="#">{{ comment.user.username }}</a>
                                </h4>
                            </div>
                            <div class="media-body w-100">

                                <a class="text-secondary float-right d-flex">
                                    <p>{% if comment.good > 0 %} {{ comment.good }} {% endif %}
                                    </p>
                                    <span onclick="comment_good(this,'{{ comment.id }}')"
                                          class="far fa-thumbs-up mt-1 ml-1"></span>
                                </a>

                                <p style="word-break: break-all;">{{ comment.content }}</p>
{#                                {% if comment.replies.all.count == 0 %}#}
{#                                    <a class="text-primary--air transition-3d-hover"#}
{#                                       href="{% url 'comment:replies' comment.id %}">#}
{#                                        回复</a>#}
{#                                {% else %}#}
{#                                    <a class="text-primary--air transition-3d-hover"#}
{#                                       href="{% url 'comment:replies' comment.id %}">View#}
{#                                        all {{ comment.replies.all.count }} replies#}
{#                                    </a>#}
{#                                {% endif %}#}
                                <small class="d-block text-muted">{{ comment.time|timesince }} 前</small>


                            </div>
                        </div>
                    </div>
                {% empty %}
                    <div class="commentsBox mt-1">
                        <div class="media-body">
                            <p>暂无评论</p>
                        </div>
                    </div>
                {% endfor %}
</div>
                                            <div class="row">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <textarea onfocus="textareaHandle(this)" id="comment" class="form-control textareaBox" rows="5" placeholder="请输入你的评论" name="comment" required="" style="margin-top: 0px;margin-bottom: 0px;height: 177px;"></textarea>
                                                    </div>
                                                </div>
                                            </div>

                                            <div class="row mt-3">
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <button disabled name="submit" type="submit" id="submit" onclick="submit_func()" class="btn btn-dark">发布评论</button>
                                                    </div>
                                                </div>
                                            </div>

                </div>
            </div>

            <div class="col-md-3">
                <div class="tyq-box">
                    <div class="tyq-title ">分类</div>
                    <ul class="tyq-ul">
                        {% for category in category_list %}
                            <li><a href ="{% url 'category_menu' category.id%}">{{ category }}</a> ({{ category.article_set.all.count }})</li>
                        {% endfor %}
                    </ul>
                </div>
                  <div class="tyq-box mt-3">
                    <div class="tyq-title">热门阅读</div>
                    <ul class="tyq-ul">
                              {#                           {% for m,v in months.items %}#}
{#                        <li>#}
{#                            <a href="{% url 'archives' year=m.year month=m.month %}"#}
{#                               style="text-decoration: none">{{ m | date:'Y年m月' }}</a>({{ v }})#}
{#                        </li>#}
                               {% for article in hot_articles %}
                        <li>
                            <a href="{% url 'detail' id=article.id %}"
                               style="text-decoration: none">{{article.title }}</a>({{ article.views }})
                        </li>
                                   <br>
                    {% empty %}
                        暂无热门阅读！
                    {% endfor %}

                    </ul>
                </div>
                <div class="tyq-box  mt-3">
                    <div class="tyq-title">标签</div>
                    <div class="tyq-tag">
                        {% for  tag in tag_list  %}
                 <a href="{% url 'search_tag' tag %}">{{ tag }}</a>

                                {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
{% block js %}
    <script>

        function textareaHandle(self) {
            $(self).on('input propertychange', function (event) {
                if ($(self).val().length > 0) {
                    $('#submit').removeAttr("disabled")
                } else {

                    $('#submit').attr('disabled', 'true')
                }
            });
            $(self).blur(function () {
                $(self).off('input propertychange');
            });
        }

          //发送评论
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        function submit_func() {
            $.ajax({
                type: 'POST',
                url: "{% url 'comment:comment' %}",
                data: {
                    'post_id': {{post.id}},
                    'comment_text': $('.textareaBox').val(),
                },
                success: function () {
                    location.reload();
                }
            })
        }


          // 评论点赞
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });

        function comment_good(obj, comment_id) {

            $.ajax({
                type: 'POST',
                url: "{% url 'comment:comment_good' %}",
                data: {
                    'id': comment_id,
                },
                success: function (data) {
                    $(obj).prev().text(data['comment_good']);
                    $(obj).attr('onclick', '')
                }
            })
        }
        </script>
{% endblock %}

{% endblock %}
