{% extends '_base.html' %}
{% load static %}

{% block titile %}拾忆-{{ tag}}{% endblock %}

{% block head %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}"/>

{% endblock %}




{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-9 tyq-box">
                <div class="container">
                    {% for post in post_list %}
                        <article class="tyq-post">
                            <div class="post-header">
                                <h4 class="post-title"><a href="{% url 'detail' id=post.id %}"
                                                          style="text-decoration: none">{{ post.title }}</a></h4>
                                <ul class="tyq-ul post-meta">
                                    <li><i class="fa fa-calendar"
                                           aria-hidden="true"></i>&nbsp;{{ post.pub_time |date:'Y-m-d' }}&nbsp;&nbsp;
                                    </li>
                                    <li><i class="fa fa-eye" aria-hidden="true"></i>&nbsp;{{ post.views }}次浏览&nbsp;&nbsp;
                                    </li>
                                    <li><i class="fa fa-list-alt"></i>&nbsp;{{ post.category }}&nbsp;&nbsp;
                                    </li>
                                </ul>
                            </div>

                            <div class="post-preview">
                                <a href="#"><img src="http://zoyothemes.com/blogezy/images/blog/blog-1.jpg" alt=""
                                                 class="img-fluid rounded"></a>
                            </div>

                            <div class="post-content">
                                <p>
                                    {#striptags用于过滤正文中所有的HTML标签#}
                                    {#truncatechars用于截取正文前300个字符#}
                                    {{ post.content|striptags|truncatechars:200 }}
                                </p>
                            </div>
                            <div><a href="{% url 'detail' id=post.id %}" class="btn btn-outline-custom ">阅读全文 </a>
                            </div>
                        </article>
                    {% endfor %}

                    {% if post_list.object_list and post_list.paginator.num_pages > 1 %}

                    <div class="row mt-3">
                        <div class="col-md-12">
                            <ul class="pagination">
                                            {% if post_list.has_previous %}

                                <li class="next"><a href="?page={{ post_list.previous_page_number }}"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
                                </li>
                                                {% endif %}
{#                                <li class="active"><a href="#">1</a></li>#}
{#                                <li><a href="#">2</a></li>#}
{#                                <li><a href="#">3</a></li>#}
{#                                <li><a href="#">4</a></li>#}
{#                                <li><a href="#">5</a></li>#}
                                        {% if post_list.has_next %}

                                <li class="prev"><a href="?page={{ post_list.next_page_number }}"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
                                </li>
                                            {% endif %}
                            </ul>
                        </div>
                    </div>

                {% endif %}
                </div>

            </div>
            <div class="col-md-3">
                <div class="tyq-box">
                    <div class="tyq-title ">分类</div>
                    <ul class="tyq-ul">
                        {% for category in category_list %}
                            <li><a href ="{% url 'category_menu' category.id%}">{{ category }}</a> ({{ category.article_set.all.count }})</li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="tyq-box mt-3">
                    <div class="tyq-title">归档</div>
                    <ul class="tyq-ul">
                           {% for m,v in months.items %}
                        <li>
                            <a href="{% url 'archives' year=m.year month=m.month %}"
                               style="text-decoration: none">{{ m | date:'Y年m月' }}</a>({{ v }})
                        </li>
                    {% empty %}
                        暂无归档！
                    {% endfor %}

                    </ul>
                </div>
                <div class="tyq-box  mt-3">
                    <div class="tyq-title">标签</div>
                    <div class="tyq-tag">
                        {% for  tag in tag_list  %}
                 <a href="{% url 'search_tag' tag %}">{{ tag }}</a>

                                {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}